<app-post-nav-header headerText="Développeur junior en recherche d'école ou d'emploi"></app-post-nav-header>

<div class="container-fluid p-0 border border-custred rounded-4 darker">
    <div class="container p-3 mb-0 border-bottom border-custred lighter-darker rounded-4">
        <h2 class="p-2">A propos de moi</h2>
        <p class="p-2">Depuis aussi loin que je me souvienne, je suis intéressé par l'informatique, en général. En effet
            je m'intéressai souvent à la manière dont les choses sont faites, c'est ainsi que j'ouvris pour la première
            fois les outils de développeur du navigateur Chrome de Google et commençai à fouiller dans le HTML de la
            page sur
            laquelle je me trouvais.
        </p>
        <span class="p-2 fw-bold">Cette curiosité ne m'a jamais quitté.</span>
    </div>
    <div class="row rounded m-0">
        <div class="col-lg-4 rounded-4 border-end border-lg border-custred">
            <div class="container p-3 ps-5 pe-5 ms-1 me-1">
                <div class="container-fluid p-2 mb-4 mt-3 justify-content-center text-center">
                    <img class="rounded-pill border-custred img-fluid" src="https://via.placeholder.com/500"
                        alt="Profile pic">
                </div>
                <div class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-envelope" viewBox="0 0 16 16">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                    contact@leobuhot.com
                </div>
                <div class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path
                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    Le Mesnil St Denis, 78320
                </div>
                <div class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-car-front" viewBox="0 0 16 16">
                        <path
                            d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z" />
                        <path
                            d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z" />
                    </svg>
                    Permis B
                </div>
                <div class="mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-folder" viewBox="0 0 16 16">
                        <path
                            d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                    </svg>
                    Reconnaissance RQTH
                </div>
                <div class="mb-1">
                    <a href="https://github.com/Ranoth" class="text-decoration-none" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-github mt-1" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                        Profil GitHub
                    </a>
                </div>
                <div class="mb-1">
                    <a href="https://www.linkedin.com/" class="text-decoration-none" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path
                                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                        </svg>
                        Profil LinkedIn
                    </a>
                </div>
                <h3 class="border-bottom border-custred rounded-end mt-4 mb-3">Langues</h3>
                Anlais (courant)
                <h3 class="border-bottom border-custred rounded-end mt-4 mb-3">Centres d'intérêt</h3>
                <p>
                    Intérêt pour les sciences sociales et le développement durable.
                    Jeux vidéos, musique, guitare, roller, cinéma, séjours dans des pays anglophones (USA et
                    Royaume-Uni).
                </p>
            </div>
        </div>
        <div class="col">
            <div class="container p-3 ps-5 pe-5 mb-4">
                <h3 class="border-bottom border-custred rounded-end mt-1 mb-3">Expériences professionnelles</h3>
                <ul>
                    <li class="mb-2"><strong>Janvier - Mars 2022 :</strong> A-Systems (huit semaines) au sein d'une
                        équipe de
                        développement logiciel. Continuation du développement du logiciel d'administration
                        interne de l'entreprise en C# en contact avec les utilisateurs de ce dernier.
                    </li>
                    <li class="mb-2"><strong>Juin - Juillet 2021 :</strong> Westermo (six semaines), filiale d'un groupe
                        Suédois
                        Beijer Electronics, au sein du service technique pour des opérations de maintenance
                        et support client impliquant du Python et des scripts Bash et du shell Linux.
                        Manipulation des produits de l'entreprise : routeurs, switchs, répéteurs réseau de
                        qualité industrielle capables de résister à des conditions d'exploitation difficiles
                        installés par exemple dans des trains, avions, mines, usines ou réseaux
                        autoroutiers.
                    </li>
                    <li class="mb-2"><strong>Juin 2016 :</strong> Enodo (deux semaines), start-up de conception 3D temps
                        réel
                        destiné à
                        l'accompagnement et au développement de design industriel en utilisant le support du
                        jeu vidéo sous
                        licence Crytek. Participation aux méthodes de travail et développement de leur jeu
                        immersif en
                        développement durable : « The Architect », avec le recensement des bâtiments. Mon
                        travail a donc
                        pu être utilisé afin de construire la carte du jeu.
                    </li>
                    <li class="mb-2"><strong>Février 2015 :</strong> Eiffage branche métal (une semaine), découverte des
                        métiers de
                        l'informatique et du
                        développement durable (MOA DSI, CAO DAO, BET, Web-master, Assistance informatique,
                        Automaticien, Gestion de base de données RH, Direction Développement Durable et
                        Innovation).
                    </li>
                </ul>
                <h3 class="border-bottom border-custred rounded-end mb-3 mt-4">Formation</h3>
                <ul>
                    <li class="mb-2"><strong>2020 - 2022 :</strong> BTS SIO option SLAM (Services Informatiques aux
                        organisations option Solutions
                        Logicielles et
                        Applications Métiers)
                    </li>
                    <li class="mb-2"><strong>2016 - 2018 :</strong> BAC STI2D option SIN (Sciences et Technologie de
                        l'Industrie et du Développement
                        Durable spécialité Systèmes d'Information et Numérique)
                    </li>
                </ul>
                <h3 class="border-bottom border-custred rounded-end mb-3 mt-4">Compétences</h3>
                <div class="table-responsive">
                    <table class="table table-bordered border-custred lighter-darker">
                        <thead>
                            <tr>
                                <th scope="col" class="ps-4 pe-4">Langages de programmation</th>
                                <th scope="col" class="ps-4 pe-4">Frameworks</th>
                                <th scope="col" class="ps-4 pe-4">Outils</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        <li>C#</li>
                                        <li>HTML & CSS</li>
                                        <li>JavaScript (TypeScript)</li>
                                        <li>SQL</li>
                                        <li>PHP</li>
                                        <li>Python</li>
                                        <li>C (Arduino)</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>.NET</li>
                                        <li>Angular</li>
                                        <li>Bootstrap</li>
                                        <li>Blazor</li>
                                        <li>Three.js</li>
                                        <li>Symfony</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Visual Studio 2019 &amp; Visual Studio 2022</li>
                                        <li>Visual Studio Code</li>
                                        <li>Linux (Debian, Ubuntu)</li>
                                        <li>Docker</li>
                                        <li>Github</li>
                                        <li>HeidiSQL</li>
                                        <li>SQL Server</li>
                                        <li>Laragon</li>
                                        <li>Postman</li>
                                        <li>Mozilla Thunderbird</li>
                                        <li>Suite Office</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>