<div [@contactInOut] *ngIf="!submitted; else elseBlock" class="ifTemplate">
    <app-post-nav-header headerText="Contactez moi !"></app-post-nav-header>

    <form #contactForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="nom">Votre nom :</label>
                    <input type="text" class="form-control rounded-4" name="nom" #name="ngModel"
                        placeholder="Jean Dupon" required [(ngModel)]="contactModel.nom"
                        [class.is-invalid]="name.invalid && name.touched">
                </div>
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Votre nom est requis</small>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="mail">Votre adresse mail :</label>
                    <input type="text" class="form-control rounded-4" name="mail" #mail="ngModel"
                        placeholder="préfixe@domaine.com" required [(ngModel)]="contactModel.mail"
                        [class.is-invalid]="mail.invalid && mail.touched">
                    <small class="text-danger" [class.d-none]="mail.valid || mail.untouched">Votre adresse mail est
                        requise</small>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group">
                <label for="sujet">Sujet :</label>
                <input type="text" class="form-control rounded-4" name="sujet" #sujet="ngModel" required
                    [class.is-invalid]="sujet.invalid && sujet.touched" [(ngModel)]="contactModel.sujet">
                <small class="text-danger" [class.d-none]="sujet.valid || sujet.untouched">Un sujet est requis</small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group">
                <label for="message">Votre message :</label>
                <textarea type="text" class="form-control rounded-4" rows="6" name="message" #message="ngModel" required
                    [class.is-invalid]="message.invalid && message.touched"
                    [(ngModel)]="contactModel.message"></textarea>
                <small class="text-danger" [class.d-none]="message.valid || message.untouched">Un message est
                    requis</small>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-cust rounded-4" [disabled]="contactForm.form.invalid">Envoyer</button>
        </div>
    </form>
</div>

<ng-template #elseBlock>
    <div [@contactInOut] class="ifTemplate">
        <div class="d-flex justify-content-center mt-4">
            <h2>Merci d'avoir pris contact !</h2>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-cust" (click)="onReturnClick()">Retour</button>
        </div>
    </div>
</ng-template>