<app-post-nav-header headerText="Veille Technologique"></app-post-nav-header>

<div class="container p-3 mb-4 lighter-darker border border-custred rounded">
    <h2 class="p-2">Sujet</h2>
    <p class="p-2">Le sujet de ma veille est l'IA dans la sécurité. Je l'ai choisi car il est une combinaison de deux
        choses qui m'intéressent.
    </p>
</div>

<div class="container p-3 mb-4 darker border border-custred rounded">
    <h2 class="p-2">Méthodologie</h2>
    <h5 class="pt-2 ps-2 pe-2">Au départ ...</h5>
    <p class="p-2">
        Afin de mettre en place cette veille, je commençai par me renseigner sur quelques aggrégateurs de flux RSS :
        Feedly, Netvibes, Feedreader.
        Celui qui me plut le plus fut Feedly, ainsi je débutai une grande collecte de flux RSS différents sur
        l'Intelligence Artificielle et la sécurité,
        d'abord, je visitai tout les sites que je connaissais : 01Net, le Microsoft Security Blog, The Hacker News ... à
        la recherche de catégories IA et sécurité, avec un peu de chance,
        proposant la possibilité de souscrire à leurs
        flux RSS. Une fois ces flux ajoutés à mon compte Feedly, que je choisis alors comme mon aggrégateur de flux,
        j'utilisai ses fonctionnalités pour ajouter plus de sources
        que je ne connaissais pas, dans le but de tester leur qualité. J'organisai ces sources dans des dossiers
        "Security" et "IA". Afin de suivre efficacement les articles, j'installai
        l'application Feedly sur mon téléphone.
    </p>
    <h5 class="pt-2 ps-2 pe-2">Après un temps ...</h5>
    <p class="p-2">
        Je commençai rapidement à distinguer les sources intéressantes parmis celles que j'avais ajouter au départ,
        supprimant les flux inintéressants de mes dossiers et aussi les flux
        produisant
        des doublons bien que Feedly les filtres généralement automatiquement.
        Ensuite, j'ajoutai des alertes par mots clés, Feedly propose d'intégrer dans les dossiers des "Web Alerts" qui
        proposent automatiquement des articles qui référencent les mots clés
        sélectionnés.
    </p>
    <h5 class="pt-2 ps-2 pe-2">Au final</h5>
    <p class="p-2">
        J'utilise maintenant tout les jours mon téléphone pour aller sur Feedly et regarder des articles dont le titre
        et la courte description sucitent mon intérêt.
        J'ai un widget sur l'écran d'accueil de mon téléphone que je vois presque à chaque fois que je le déverrouille
        qui propose une sélection des derniers articles du jour
        apparus dans mon Feedly. Il y passe très régulièrement des articles pertinents avec soit l'IA, soit la sécurité
        car il n'éxiste pas réellement de catégories mêlant les deux
        mots clés sur les sites me servant de source bien que le fait de couvrir les deux terrains me permette tout de
        même de trouver des articles parlant
        de l'IA dans la sécurité, mais mes Web Alerts combinant ces derniers produisent des résultats plus
        satisfaisants.
    </p>
    <h5 class="pt-2 ps-2 pe-2">En conclusion</h5>
    <p class="p-2">
        En ce qui concerne l'IA, la tendance actuelle est le Deep Reinforcment Learning qui combine le Reinforcment
        Learning,
        qui consiste pour un robot à apprendre les bonnes décisions à effectuer à partir d'expériences. Quand le robot
        effectue une bonne décision, il se voit récompenser,
        augmentant en retour la probabilité que le robot prenne à nouveau une décision semblable,
        et le Deep Learning, un esemble de méthodes tentant de modéliser avec un haut niveau d'abstraction des données.
        Le Deep Reinforcment Learning donc permet une automatisation du processus d'apprentissage de l'IA en lui
        fournissant des données réogarnisées sans intervention manuelle
        la rendant capable de traiter de très grandes quantités de données.
        Cette technologie peut avoir bien des applications comme le traitement du langage naturel ou encore la
        prédiction du comportement d'un utilisateur.
        <br />
        <br />
        Pour la sécurité, les entreprises possèdent de nombreux produits de sécurité protègeant leurs logiciels et
        applications, si bien qu'elles peuvent se retrouver à crouler sous
        les alertes de sécurité. Sujettes à un burnout, ne pouvant pas traiter toutes ces alertes, souvent manquant de
        contexte, ces organisations se voient parfois incapables
        de prendre les actions nécessaires pour contrer les menaces crédibles et s'expose à des failles de sécurité.
        C'est pourquoi il est nécessaire pour elles de s'armer de solutions de MDR : Managed Detection Response comme
        Red Canary, des plateformes de sécurité avancées combinant traitement
        et analyse
        de données, évaluation des menaces et une expertise humaine permettant de filtrer les alertes pertinentes parmi
        le volume intense de celles-ci.
    </p>
</div>